.program {
    max-width: 966px;
    margin: 0 auto;
}

.program__title {
    font-size: 35px;
    text-align: center;
}

.program-list {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.porgram-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: solid 2px #00367B;
    border-radius: 20px;
    margin-bottom: 20px;
}

.program-block__number {
    display: flex;
    width: 50px;
    margin: 0 auto;
    writing-mode: sideways-lr;
    padding-top: 50px;
    padding-left: 40px;
    line-height: 12px;
}

.program-block__content {
    display: flex;
    width: 95%;
    flex-direction: column;
}

.program-block__title {
    
}

.program-block__index {
    
}

.program-block__theme-list {
    
}

.program-block__theme {
    
}

@media all and (max-width: 570px) {

    .porgram-block {

    }

    
.program-block__number {
    width: 33px;
    padding-left: 10px;
    line-height: 10px;
}
}
