.booking {
  background-color: #00367B;
  padding: 0;
  margin: 0;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  overflow: hidden;
}

.booking__content {
  max-width: 996px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.booking__format {
  margin: 0;
  padding-top: 20px;
  color: white;
  font-size: 22px;
  padding-left: 15px;
  line-height: 1.2;
}

.booking__academy-name {
  font-size: 26px;
  text-transform: uppercase;
  padding-top: 27px;
  padding-left: 15px;
  font-weight: 100;
  color: #BCBCBC;
  margin: 0;
  letter-spacing: 10.3px;
}

.booking__course-name {
  font-family: 'rubi';
  font-size: 69px;
  font-weight: 700;
  margin: 0;
  padding-left: 10px;
  text-transform: uppercase;
  color: #ff6400;
  font-stretch: condensed;
}

.booking__about {
  font-family: 'rubi';
  font-weight: 500;
  font-size: 25px;
  margin: 0;
  padding-left: 15px;
  color: #ff6400;
  font-stretch: expanded;
  letter-spacing: 0.5px;
}

.booking__ready {
  font-family: 'rubi';
  font-weight: 500;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
  padding-left: 15px;
  color: #ff6400;
  font-stretch: expanded;
  letter-spacing: 0.5px;
}

.booking__skills {
  list-style: none;
}

.booking__skill {
  display: flex;
  padding-top: 35px;
}

.booking__skill-icon {

}

.booking__skill-text {
  color: white;
  font-size: 21px;
  font-weight: 100;
  padding-left: 20px;
  align-self: center;
}

.booking__button {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000033;
  background-color: #ff6400;
  padding: 20px;
  border: none;
  border-radius: 8px;
  margin-left: 15px;
  margin-top: 40px;
  cursor: pointer;
  transition: ease-in 0.5s;
  display: inline-block;
  text-decoration: none;
}

.booking__button:hover {
  box-shadow: 3px 3px 5px;
}

.booking__text {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  max-width: 360px;
  padding-left: 15px;
  padding-bottom: 40px;
}

.booking__paint {
  position: absolute;
  right: -240px;
  top: 20px;
  z-index: -3;
}

.booking__foto-max {
  position: absolute;
  right: 30px;
  bottom: 0;
  z-index: -2;
}

.booking__max-orlov-img-txt {
  position: absolute;
  right: 15px;
  bottom: 60px;
  z-index: -1;
}

@media all and (max-width: 980px) {
  .booking__foto-max {
    max-height: 463px;
  }

  .booking__max-orlov-img-txt {
    max-height: 400px;
  }

  .booking__paint {
  max-height: 438px;
  top: 210px;
  }
}

@media all and (max-width: 570px) {

  .booking__format {
    font-size: 19px;
  }

  .booking__academy-name {
    font-size: 19px;
    letter-spacing: 5px;
  }

  .booking__about {
    font-size: 21px;
  }

  .booking__course-name {
    font-size: 67px;
  }

  .booking__skills {
    padding-left: 27px;
  }

  .booking__skill-icon {
    width: 18px;
  }

  .booking__skill-text {
    font-size: 20px;
    padding-left: 15px;
  }

  .booking__paint {
    top: 300px
    }

    .booking__foto-max {
      right: -125px;
      bottom: -12px;
    }

    .booking__max-orlov-img-txt {
      right: -23px;
    }

    .booking__text {
      background-color: rgba(0, 54, 123, 0.5);
  }
}

@media all and (max-width: 380px) {
  .booking__format {
    padding-left: 8px;
  }

  .booking__academy-name {
    font-size: 13px;
    padding-left: 8px;
    letter-spacing: 5.3px;
  }

  .booking__course-name {
    font-size: 53px;
    padding-left: 5px;
  }

  .booking__about {
    font-size: 17px;
    padding-left: 8px;
  }

  .booking__skills {
    padding-left: 10px;
  }

  .booking__skill-icon {
    width: 14px;
  }

  .booking__skill-text {
    font-size: 18px;
    padding-left: 10px;
  }

  .booking__text {
    font-size: 16px;
    padding-left: 8px;
    background-color: rgba(0, 54, 123, 0.5);
}

.booking__paint {
  right: -199px;
  top: 360px;
  }

  .booking__foto-max {
    right: -163px;
    bottom: -22px;
  }

  .booking__max-orlov-img-txt {
    right: -41px;
    bottom: 60px;
  }
}
