.booking {
  background-color: #00367B;
  padding: 0;
  margin: 0;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
}

.booking__content {
  max-width: 996px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.booking__format {
  margin: 0;
  padding-top: 20px;
  color: white;
  font-size: 22px;
  padding-left: 15px;
  line-height: 1.2;
  z-index: 5;
}

.booking__academy-name {
  font-size: 26px;
  text-transform: uppercase;
  padding-top: 27px;
  padding-left: 15px;
  font-weight: 100;
  color: #BCBCBC;
  margin: 0;
  letter-spacing: 10px;
  z-index: 5;
}

.booking__course-name {
  font-family: 'rubi';
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  padding-left: 10px;
  text-transform: uppercase;
  color: #ff6400;
  font-stretch: condensed;
  z-index: 5;
}

.booking__about {
  font-family: 'rubi';
  font-weight: 500;
  font-size: 25px;
  margin: 0;
  padding-left: 15px;
  color: #ff6400;
  font-stretch: expanded;
  letter-spacing: 0.5px;
  z-index: 5;
}

.booking__skills {
  list-style: none;
  z-index: 5;
}

.booking__skill {
  display: flex;
  padding-top: 35px;
}

.booking__skill-icon {

}

.booking__skill-text {
  color: white;
  font-size: 21px;
  font-weight: 100;
  padding-left: 20px;
  align-self: center;
}

.booking__button {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000033;
  background-color: #ff6400;
  padding: 20px;
  border: none;
  border-radius: 8px;
  margin-left: 15px;
  margin-top: 40px;
  cursor: pointer;
  z-index: 5;
}

.booking__button:hover {
  box-shadow: 3px 3px 5px;
}

.booking__text {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  max-width: 360px;
  padding-left: 15px;
  padding-bottom: 40px;
}

.booking__paint {
  position: absolute;
  right: -240px;
  top: 20px;
  z-index: 1;
}

.booking__foto-max {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 2;
}

.booking__max-orlov-img-txt {
  position: absolute;
  right: 15px;
  bottom: 60px;
  z-index: 3;
}
