@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/booking/booking.css);
@import url(../blocks/for-you-grid/for-you-grid.css);
@import url(../blocks/format/format.css);
@import url(../blocks/credit/credit.css);
@import url(../blocks/help/help.css);
@import url(../blocks/program/program.css);
@import url(../blocks/about/about.css);
@import url(../blocks/faq/faq.css);
@import url(../blocks/cases/cases.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);

.color_black {
  color: black;
}

.color_red {
  text-decoration: none;
  color: red;
  text-align: center;
}

.format__price:nth-of-type(2) {
  padding: 0;
  margin: 0 auto;
}

.format__price-text_justnow {
  margin-top: -30px;
}
